@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.App {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Poppins', sans-serif; 
  /* background-color: #506e32; */
}

/* NAVBAR */
nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul{
  margin: 0;
  display: flex;
  list-style: none;
  width: 100%;
  margin: 2px 0;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  font-family: 'Poppins', sans-serif;
}

.params,.navbar-element{
  border-bottom: 1px solid;
  padding: 6px;
}
.location {
 width: 80%;
 display: flex;
 align-items: center;
}
.location-img{
  background-image: url(./../public/Icones/Icone_rechercher.png);
}
.params select{
  background-color: transparent;
  border: 0;
  outline: none;
}

.navbar-element{
  width: 85%;
  margin: 10px 0;
}
.logo{
  /* border: 1px solid;  */
  margin: 0 5px 0 0;
  width: 15%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: #516E32;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.logo-img{
  /* border: 2px solid; */
  background-image: url(./../public/Icones/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0;
}

.search-bar{
  width: 60%;
}
.search-bar form{
  /* width: 100%; */
  border: 1px solid ;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  
}
.search-bar .search-icon,
.search-bar .ville-icon,
.location-img,
.icon-acv,
.icon-favoris,
.icon-panier,
.icon-panier,
.icon-profile,
.eye,
.methode
{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  margin: 0 8px;
  cursor: pointer;
}
.search-bar .search-icon{
  background-image: url(./../public/Icones/Search.png);
}
.search-bar .ville-icon{
  background-image: url(./../public/Icones/Icone_rechercher.png);
}
.search-bar form button{
  width: 35%;
  border-radius: 34px;
  padding: 10px;
  border: 0;
  cursor: pointer;
  background-color:#516E32  ;
  color: #fff;
  font-family: 'Poppins', sans-serif;

}
.search-bar form input{
  width: 50%;
  border: 0;
  outline: none;
  padding: 7px;
}
.search-bar form select{
  border: 0;
  border-radius: 15px;
  width: 15%;
}
.nav-icon{
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin: 0 2px;
}
.sep{
  /* width: 1px; */
  height: 30px;
  border: 1px solid #999999;
  margin: 2px 5px;
  border-radius: 10px;

}
.icons{
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-acv,
.icon-favoris,
.icon-panier,
.icon-profile{
  width: 30px;
  height: 30px;
}
.icon-acv{
  background-image: url(./../public//Icones/img_acv.png);
}
.icon-favoris{
  background-image: url(./../public//Icones/icone_favoris.png);
}
.icon-panier{
  background-image: url(./../public//Icones/icone_panier.png);
}
.icon-profile{
  background-image: url(./../public/Icones/icone_profil.png);
}
.options select{
  width: 10%;
  margin: 3px;
  border-radius: 10px;
  background-color: #516E32;
  color: #fff;
}

/* lOGIN */

.login{
  display: flex;
  flex-direction: column;
  margin: 28px 0;
}
.bg-image{
  width: 100%;
  height: 100px;
  background-image: url(../../fruits_et_legume.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form-container{
  /* border: 2px solid; */
  width: 30%;
  margin: 60px auto;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: -5px 1px 29px -18px rgba(0,0,0,0.87);
-webkit-box-shadow: -5px 1px 29px -18px rgba(0,0,0,0.87);
-moz-box-shadow: -5px 1px 29px -18px rgba(0,0,0,0.87);
}
.form-login{
  display: flex;
  flex-direction: column;
}
.form-login h3{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.form-login input{
  padding: 10px;
  border: 1px solid;
  border-radius: 3px;
  margin: 5px 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.remenber-user{
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.styled-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.checkbox-labe{
  width: 50%;
  margin: 0 2px;
}
.forgetmdp,a{
  text-decoration: none;
  color: #999999
  ;
}
.btn-login{
  background-color: #516E32;
  color: #fff;
  border-radius: 15px;
  padding: 8px;
  border: none;
  margin: 5px 0;
  font-family: 'Poppins', sans-serif;
}
.container-password{
  /* border: 2px solid; */
  position: relative;
  margin: 10px 0;
  display: flex;
}
.eye{
  background-image: url(./../public/Icones/oeil-ouvrir.png);
  position: absolute;
  top: 25%;
  right: 0;
}
.container-password #username{
  width: 100%;
  margin: 0;
}
.form-login span{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
}

/* NEWSLETTER */

.newsletter{
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  /* width: 85%; */
}
.texte-newsletter{
  width: 35%;
  margin: 0 10px 0 0;
}
.texte-newsletter h3, p{
  margin: 0;
  width: 90%;
}

.form-mail{
  /* border: 1px solid; */
  width: 30%;
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-mail input{
  width: 70%;
  background-color: transparent;
  border-radius: 15px;
  padding: 10px;
  border: none;
  outline: none;
}
.form-mail .submit{
  border-radius: 15px;
  width: 30%;
  padding: 10px;
  background-color: #516E32;
  border: none;
  color: #fff;
  cursor: pointer;
}
.socials{
  /* border: 1px solid; */
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials .social{
  /* border: 1px solid; */
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .3s ease-in-out;
  color: #999999;
  font-size: 1.6rem;
  cursor: pointer;
}
.social:hover{
  background-color: #516E32;
  color: #fff;
  border: 0;
}

/* FOOTER */

footer{
  background-color: #516E32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999999;
}
.footer-links{
  width: 85%;
  display: flex;
  justify-content: center;
}
.footer-links .col{
  /* border: 1px solid; */
  width: 50%;
  margin: 0 5px;
 
}
.footer-links .col ul{
  list-style: none;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  padding: 0;
 
}
.footer-links .col ul li{
margin: 5px 0;
 
}

.footer-links .col-1{
  width: 100%;
}

.footer-links .col-1 .footer-logo{
  background-image: url(../../logo.jpg);
  width: 80%;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.footer-links .col-1 .number{
  margin: 25px 0;
  border-bottom: 2px solid #81ed0d;
  width: 75.5%;
}

.footer-links .col h3{
  color: #fff;

}
.footer-links .col a{
  color: #999999;
}

.mahoufarm{
  border-top: 2px solid #211e1e;
  width: 85%;
  font-size: .8rem;
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.mahoufarm span{
  width: 80%;
}
.means-payement{
  /* border: 1px solid; */
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
}
.methode{
  width: 60px;
}
.methode-apple{
  background-image: url(./../public/Icones/Method=ApplePay.png);
}
.methode-visa{
  background-image: url(./../public/Icones/Method=Visa.png);
}
.methode-discover{
  background-image: url(./../public/Icones/Method=Discover.png);
}
.methode-mastercard{
  background-image: url(./../public/Icones/Method=Mastercard.png);
}
.methode-cart{
  background-image: url(./../public/Icones/Cart.png);
}




/* PANIER */

.section-panier{
  /* border: 2px solid; */
  width: 85%;
  margin: 0 auto;
  display: flex;
  margin: 50px auto 20px auto;
}

.table-container {
  width: 70%;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin:  0 15px 0 0;
}


table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif; 
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: transparent;
  border-radius: 15px; 
  border-collapse: collapse;
}
.quantity-btn {
  text-align: center;
  /* border: 1px solid; */
}

.quantity-btn button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  background-color: #fff;
}

.quantity-btn button:hover {
  background-color: #516E32;
  color: #fff;
}


.styled-table td button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-weight: lighter;
  font-size: 1.5rem;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.styled-table td button:hover {
  background-color: #516E32;
  color: #fff;

}

.styled-table td span {
  font-size: 18px;
}
.div-update-btn {
  display: flex;
  padding: 10px;
  height: 55px;
  align-items: center;
  justify-content: flex-end; 
  /* background-color: #211e1e; */
}
.update-button {
  display: block;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
.update-button:hover {
  background-color: #516E32;
  color: #fff;
  
}
.product-cell {
  display: flex;
  align-items: center;
  padding: 5px;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-info img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}


.resume-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 50%;
  margin: 40px 0 0 0;
 

}

.resume-card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 ;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.total {
  font-weight: bold;
  border-bottom: none;
}

.payment-button {
  display: block;
  margin-top: 20px;
  padding: 15px;
  background-color: #516E32;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.payment-button:hover {
  background-color: #516e32d9;
}

