nav{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav ul{
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%;
    margin: 2px 0;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
  }
  
  .params,.navbar-element{
    border-bottom: 1px solid;
    padding: 6px;
  }
  .location {
   width: 80%;
   display: flex;
   align-items: center;
  }
  .location-img{
    background-image: url(./../public/Icones/Icone_rechercher.png);
  }
  .params select{
    background-color: transparent;
    border: 0;
    outline: none;
  }
  
  .navbar-element{
    width: 85%;
    margin: 10px 0;
    /* border: 2px solid; */
  }

  
  .logo{
    /* border: 1px solid;  */
    margin: 0 5px 0 0;
    width: 15%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: #516E32;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .logo-img{
    /* border: 2px solid; */
    background-image: url(./../public/Icones/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    margin: 0 5px 0 0;
  }
  
  .search-bar{
    width: 60%;
  }
  .search-bar form{
    /* width: 100%; */
    border: 1px solid ;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
  }
  .search-bar .search-icon,
  .search-bar .ville-icon,
  .location-img,
  .icon-acv,
  .icon-favoris,
  .icon-panier,
  .icon-panier,
  .icon-profile,
  .eye,
  .methode
  {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    margin: 0 8px;
    cursor: pointer;
  }
  .search-bar .search-icon{
    background-image: url(./../public/Icones/Search.png);
  }
  .search-bar .ville-icon{
    background-image: url(./../public/Icones/Icone_rechercher.png);
  }
  .search-bar form button{
    width: 35%;
    border-radius: 34px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    background-color:#516E32  ;
    color: #fff;
    font-family: 'Poppins', sans-serif;
  
  }
  .search-bar form input{
    width: 50%;
    border: 0;
    outline: none;
    padding: 7px;
  }
  .search-bar form select{
    border: 0;
    border-radius: 15px;
    width: 15%;
  }
  .nav-icon{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 0 2px;
  }
  .sep{
    /* width: 1px; */
    height: 30px;
    border: 1px solid #999999;
    margin: 2px 5px;
    border-radius: 10px;
  
  }
  .icons{
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-acv,
  .icon-favoris,
  .icon-panier,
  .icon-profile{
    width: 30px;
    height: 30px;
  }
  .icon-acv{
    background-image: url(./../public//Icones/img_acv.png);
  }
  .icon-favoris{
    background-image: url(./../public//Icones/icone_favoris.png);
  }
  .icon-panier{
    background-image: url(./../public//Icones/icone_panier.png);
  }
  .icon-profile{
    background-image: url(./../public/Icones/icone_profil.png);
  }
  .options select{
    width: 10%;
    margin: 3px;
    border-radius: 10px;
    background-color: #516E32;
    color: #fff;
  }