.section-panier{
    /* border: 2px solid; */
    width: 85%;
    margin: 0 auto;
    display: flex;
    margin: 50px auto 20px auto;
  }
  
  .table-container {
    width: 70%;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin:  0 15px 0 0;
  }
  
  
  table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif; 
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: transparent;
    border-radius: 15px; 
    border-collapse: collapse;
    font-weight: 300;
  }
  .quantity-btn {
    text-align: center;
    /* border: 1px solid; */
  }
  
  .quantity-btn button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    background-color: #fff;
  }
  
  .quantity-btn button:hover {
    background-color: #516E32;
    color: #fff;
  }
  
  
  .styled-table td .btn-add {
    background-color: #f1f1f1;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  .styled-table td .btn-remove{
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  .styled-table td .btn-remove:hover{
    background-color: brown;
    color: #fff;
    border: none;
  }
  .styled-table td .btn-add:hover {
    background-color: #516E32;
    color: #fff;
  
  }
  
  .styled-table td span {
    font-size: 18px;
  }
  .div-update-btn {
    display: flex;
    padding: 10px;
    height: 55px;
    align-items: center;
    justify-content: flex-end; 
    /* background-color: #211e1e; */
  }
  .update-button {
    display: block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  .update-button:hover {
    background-color: #516E32;
    color: #fff;
    
  }
  .product-cell {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-info img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }